body {
    background-color: rgb(171, 178, 194);
    background-image: url(../images/LGBTQ-Best-Places-To-Work.jpg);
}


.container {
    margin-left: auto;
    margin-right: auto;
    height: fit-display;
}

header{
    height: auto;
    text-align: center;
    font-size: 2em
}

img {
    max-width: 100px;
    max-height: 150px;
}

main {
    text-align: center;
    height: auto;
    width:auto;
    font-size: 45px;
    font-weight: bold;
}

section{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

input[type="text"] {
    font-size:30px;
    font-weight: bold;
    text-align: center;
}

button {
    width: auto;
}

footer {
    position: absolute;
    align-items: center;
    width: auto;
    bottom: 0;
    height: 2.5rem;            /* Footer height */
    padding-top: 1px;
    background-color:rbba(128, 128, 128, 0.8);
  }


